*{
    font-family: "Franklin Gothic Book";
}
body{
    margin:0;
    height:100vh;
    overflow:hidden;
}
#navigation{
    height:10%;
    display:flex;
    flex-direction: row;
    background-color: darkslategrey;
    align-items: center;
}
#nav-left h1{
    font-family: "Calibri Light";
    font-size: 30px;
    opacity:80%;
    color:whitesmoke;
}
#nav-left, #nav-right{
    display:flex;
    width:50%;
    text-align:center;
    justify-content: center;
    align-content: center;
}
#nav-right ul li a{
    text-decoration: none;
    color:white;
}
#nav-right ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
#nav-right ul li{
    margin:10px;
}




#main{
    background-image:url('../images/background-try.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-80px;
    height:85%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.title{
    text-align: center;
}
#Who{
    text-align: center;
    font-size:150%;
    margin:0;
}
#Who-c{
    height:13%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

#first-row, #second-row{
    height:25%;
    font-size:90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#Life, #Studies, #Interests, #Fun{
    margin:5px;
    width:30%;

}
#goals{
    height:32%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#goals p{
    width:40%;
}





footer{
    height:5%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: darkslategrey;
}
#footer-left h1{
    font-family: "Calibri Light";
    font-size: 19px;
    opacity:80%;
    color:whitesmoke;
    margin:0;
}
#footer-left, #footer-right{
    display:flex;
    width:50%;
    text-align:center;
    justify-content: center;
    align-content: center;
}
#footer-right ul li a{
    text-decoration: none;
    color:white;
}
#footer-right ul{
    margin:0;
    display:flex;
    flex-direction: row;
    list-style: none;
}
#footer-right ul li{
    margin:10px;
}