*{
    font-family: "Franklin Gothic Book";
}
body{
    margin:0;
    height:100vh;
    overflow:hidden;
}
#navigation{
    height:10%;
    display:flex;
    flex-direction: row;
    background-color: darkslategrey;
    align-items: center;
}
#nav-left h1{
    font-family: "Calibri Light";
    font-size: 30px;
    opacity:80%;
    color:whitesmoke;
}
#nav-left, #nav-right{
    display:flex;
    width:50%;
    text-align:center;
    justify-content: center;
    align-content: center;
}
#nav-right ul li a{
    text-decoration: none;
    color:white;
}
#nav-right ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
#nav-right ul li{
    margin:10px;
}
#main{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    color:white;
    background-size: 100%;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:85%;
}
#right{
    height:50%;
    display:flex;
    flex-direction:column;
    width:30%;
}
#phone, #email{
    height:50%;
    width:90%;
}
#location{
    width:30%;
}
#email img{
    width:12%;
    margin-right:15px;
    float:left;
}
#email a{
    color:white;
    background-color: black;
    padding:5px 10px 5px 10px;
    text-decoration: none;
}
#num{
    padding-top:15px;
}
#phone img{
    float:left;
    margin-right:15px;
    width:12%;
}
footer{
    height:5%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: darkslategrey;
}
#footer-left h1{
    font-family: "Calibri Light";
    font-size: 19px;
    opacity:80%;
    color:whitesmoke;
}
#footer-left, #footer-right{
    display:flex;
    width:50%;
    text-align:center;
    justify-content: center;
    align-content: center;
}
#footer-right ul li a{
    text-decoration: none;
    color:white;
}
#footer-right ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
#footer-right ul li{
    margin:10px;
}